*{

    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23194663' fill-opacity='.2' fill-rule='evenodd'/%3E%3C/svg%3E");
 
    color:#fff;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

a{
    color:#fff;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    margin:auto;
    width: 90%;
}

/*NAVIGATION*/


.menu-btn{

    cursor: pointer;
    position:absolute;
    top:15px;
    /* left:220px; */
    right: 40px;
    z-index:2;
    font-weight: bolder;
    /* font-size: 1.5rem; */
      display:none;
     
}

.nav-main{
    font-size: 17px;
    display: flex; /* elementos uno al lado de otro. */
    justify-content: space-between; /*ocupar todo el ancho disponible */
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand{
    width:50px;
    border: 1px solid #3b3a3a;
}

.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 10px;
}

.nav-main ul li a{
    padding: 6px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid #fff;
}

.nav-main ul.nav-menu{
    flex:1;
    margin-left: 20px;
}

hr{
    margin:10px 0;
}

/*SHOW CASE*/

.showcase{

    width: 100%;
    height: 510px;
    background:url('./img/showcase.jpg') no-repeat center center/cover;
    padding: 50px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.showcase h1{

    margin:10px 0;
}
.showcase p{

    text-align: center;
    background: rgba(0,0,0,.4);
    padding: 10px;
 }

.btn{

    margin: 10px 0;
    cursor:pointer;
    display: inline-block;
    border:1px solid #fff;
    font-weight:100;
    padding: 10px 20px;
    background: #262626;
    color:#fff;
    font-size: 15px;
}

.btn:hover{

    background: rgba(0,0,0,.7); /* opacity: .7; */
 }

/*NEWS CARDS*/

.news-cards-one,.news-cards-two{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:25px;
    margin: 20px 0;

}

.news-cards-one img,.news-cards-two img{

    width: 100%;
    height: 180px;
}

.news-cards-one h3,.news-cards-two h3{

    font-size: 20px;
    margin: 10px 0;
}

.news-cards-one a,.news-cards-two a{

    padding: 10px 0;
    columns: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.news-cards-one a:hover,.news-cards-two a:hover{

    text-decoration: underline;
}

/*BANNER 1*/

.cards-banner-one{

    width: 100%;
    height: 350px;
    margin-bottom: 20px;
        /* background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%2305010d' fill-opacity='.7' fill-rule='evenodd'/%3E%3C/svg%3E");  */
/* 
    background-color: #f20121;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%231f2022' fill-opacity='.7' fill-rule='evenodd'/%3E%3C/svg%3E"); */

    background: url('./img/banner1.jpg') no-repeat center center/cover; 

   
}

.cards-banner-one .content{

    width: 40%;
    padding: 90px 0 0 30px;
    color:#fff;
}


.cards-banner-one .content h1,
.cards-banner-one .content p{

  margin:10px 0 20px 0;
}


/*BANNER TWO*/

.cards-banner-two{

    width: 100%;
    height: 350px;
    margin-bottom: 20px;
    background-color: #fd0324;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23242424' fill-opacity='.7' fill-rule='evenodd'/%3E%3C/svg%3E");
    

    
}

.cards-banner-two .content{

    width: 50%;
    padding: 100px 0 0 30px;
    color:#fff;
}


.cards-banner-two .content h1,
.cards-banner-two .content p{

  margin:10px 0 20px 0;
}


/*SOCIAL*/

.social{

    margin:50px;
}

.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a{
    margin:0 30px;
}

.links a i{

    font-size: 3rem;
}


/* FOOTER LINKS*/

.footer-links{

    background: #2f3640;
    color:#616161;
    font-size: 12px;
    padding: 35px 0;

}

.footer-container{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    align-items: flex-start;
    justify-content: center;

}

.footer-container ul{

    margin:0 auto;
}

.footer-container ul li{

    line-height: 2.8;
    
}

.footer{
    padding: 20px 0;
    text-align: center;
    padding-bottom:20px;
}

@media (max-width : 812px){

    /* body{
        background: red;
    } */

    .menu-btn{

        display: block;
    }


    .nav-main ul.nav-menu{

        display: block;
        position:absolute;
        top:0;
        left:-250px;
        background: #2f3640;
        height: 100%;
        padding:30px;
        opacity: .9;
        /* transform: translateX(-400px); */
        transition: transform .5s ease-in-out ;

    }

    .nav-main ul.nav-menu.show{

        transform: translateX(220px);
    }

    .nav-main ul.nav-menu li{

        padding: 20px;
        border-bottom: 1px solid #fff;
        font-size: 14px;
    }

    .nav-main ul li a:hover{
        border:none;
    }
    
    .nav-main ul.nav-menu-right{

        margin-right:40px;
    }

    .news-cards-one,.news-cards-two{

            grid-template-columns: repeat(2,1fr);

    }

    .cards-banner-one .content,.cards-banner-two .content{

        width: 88%;
    }



 .footer-links .footer-container{

    grid-template-columns: repeat(2,1fr);
 }



}

@media (max-width : 640px){

    .menu-btn{

        right: 30px;
    }

}

@media (max-width : 500px){

    .menu-btn{

        right: 30px;
    }

    .news-cards-one,.news-cards-two{

        grid-template-columns: 1fr;

}

.news-cards-one img,.news-cards-two img{

    height: 250px;
}

.cards-banner-one .content,.cards-banner-two .content{

    width: 100%;
    padding: 60px 20px;
}

.footer-links .footer-container{

    grid-template-columns: 1fr;
 }
 
}

@media (max-width : 380px){

    .menu-btn{

        right: 20px;
    }
}